version: '3.9'

services:
  go-app:
    container_name: go-app
    image: go-api-tutorial
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - go_db
  go_db:
    image: postgres:15
    container_name: go_db
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data


volumes:
  dbdata: {}

